

.image-wrapper{
  position: relative;
  // background-color: greenyellow;
  height: auto;
  padding: 2% ;
  text-align: center;
  // margin-top: 502px;
  padding-top: 18%;
  
  // margin-left: 70px;

}

.images{
  display: flex;
  justify-content: center;
  // background-color: blueviolet;
}

// .brows{
//   // background-color: green;
// }

.image{
  position: relative;
  width: 90%px;
  height: 444px;
  top: 70px;
  left: 20px;
  // margin-left: 7%;
  // margin-top: 60%;
  animation: animateUser 4s linear infinite;
  // background-color: #000;
}
@keyframes animateUser {
  50%{
    right: 3px;
    top: -20px;
  }
}



.app {
    // height: 100vh;
    // padding-top: 300px;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    gap: 40px;
    // background-color: #000;
    margin-top: 11rem;
}
.apps {
  // height: 480px;
  padding-top: 10%;
  padding-left: 67%;
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  flex-direction: column;
  gap: 40px;
}
    .eyebrow_container {
      display: flex;
      gap: 50px;
  
      .eye_brow {
        width: 90px;
        height: 15px;
        border-radius: 10px;
        background-color: rgb(49, 41, 41);
      }
  
      .left {
        rotate: -20deg;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 90px;
      }
      .right {
        rotate: 20deg;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 90px;
      }
    }
  
    .eye_container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
  
      .eye {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background: #fff;
        box-shadow: inset 0 0 50px rgb(0, 0, 0);
        transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s;
  
        &:hover {
          box-shadow: inset 0 0 100px rgb(0, 0, 0);
          scale: 1 0.92;
        }
  
        &:active {
          scale: 0.8 0.01;
          background-color: #000;
        }
        &:active::after {
          background-color: #000;
          border: 20px solid #000;
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
  
        &::after {
          content: " ";
          position: absolute;
          bottom: 5%;
          right: 50%;
          width: 14px;
          height: 14px;
          background: #000;
          border-radius: 50%;
          border: 4px solid #c7d0d6;
          pointer-events: none;
          transition: 0.5s;
        }
      }
    }





    @media screen {
      
    }